setuptools==72.1.0
huggingface_hub==0.36.0
typing-extensions>=4.12.2,<5

torch==2.4.1
torchaudio==2.4.1
numpy==1.23.5
scipy==1.10.1
pandas==2.0.3
soundfile==0.12.1
librosa==0.9.2
numba==0.56.4
llvmlite==0.39.1

transformers==4.40.2
tokenizers==0.19.1
sentencepiece==0.2.0
pytorch-lightning==2.4.0
torchmetrics==1.4.0
matplotlib==3.8.4
PyYAML==6.0.2
tqdm==4.67.1

ffmpeg-python==0.2.0
einops==0.8.2
g2p-en==2.1.0
py3langid==0.2.2
typeguard==4.2.0

